* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 99.99vw;
    height: 15vh;
    background: linear-gradient(180deg, #6FB2ED 24.96%, rgba(255, 144, 77, 0.47) 80%); 
    display: flex;
    flex-direction: row;
    align-items: center;
}
#menu{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    width: 750px;
    height: 30px;
    margin: 0;
    padding: 0;
}
#logoHeader{
    width: 90px;
    height: 80px;
}
#listaMenu{
    list-style: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 20px;
    margin: 10px;
}
.menuItem{
    width: 190px;
    height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.menuItemQuienes{
    width: 270px;
    height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.itemSeleccionable{
    text-decoration: none;
    color: black;
}
.menuItem:hover{
    width: 190px;
    height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #36688D;
    
}
.itemSeleccionable:hover{
    text-decoration: none;
    color: #36688D;
}
.menuItemQuienes:hover{
    width: 270px;
    height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #36688D;
}
#busqueda{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
}
#areaBusqueda{
    border-style: none;
    border-color: white;
    width: 100px;
    border-radius: 5px;
}
#areaBusqueda:focus{
    outline: none;
}
.btnNav{
    margin: 5px;
    width: 100px;
    border-radius: 30px;
    height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: rgba(240, 197, 136, 0.74);
}
.btnNav:hover{
    margin: 5px;
    width: 100px;
    border-radius: 30px;
    height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color:#6FB2ED;
    border-color: #36688D;
}
.btnNavCrear{
    margin: 5px;
    width: 120px;
    border-radius: 30px;
    height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: rgba(240, 197, 136, 0.74);
}
.btnNavCrear:hover{
    margin: 5px;
    width: 120px;
    border-radius: 30px;
    height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color:#6FB2ED;
    border-color: #36688D;
}
#botones{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.modalContent{
    width: 450px;
}
.formularioLogIn{
    width: 300px;
}
.modalCuerpo{
    width: 400px;
    background-color: white;
}
#imagenModal{
    width:120px;
    height: 100px;
}
#tituloModalLogIn{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.titulosFormulario{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.titulosCampos{
    width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.camposFormulario{
    width: 300px;
}
#recuperarContra{
    margin-top: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
#recuperarContrasena{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FF904D;
}
#recuperarContrasena:hover{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #9e3d00;
}
#botonesModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-top: 15px;
}
.btnIngresar{
    background-color: #F0C588;
    border-color: #F0C588;
    width: 150px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
}
.btnCerrar{
    background-color: #e51b1b;
    border-color: #e51b1b;
    width: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
    color: white;
}
.btnIngresar:hover{
    background-color: rgba(255, 144, 77, 0.47);
    border-color: rgba(255, 144, 77, 0.47);
    width: 150px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
}
.btnCerrar:hover{
    background-color: #ff5e5e;
    border-color: #ff5e5e;
    width: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
    color: white;
}
#articuloPrincipal {
    width: 100vw;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#trianguloUno {
    width: 800px;
    height: 400px;
    background: rgb(251, 251, 251);
    transform: rotate(45deg);
    position: absolute;
    top: 240px;
    left: 10px;
    
    overflow: visible;
}
#trianguloUno img {
    transform: rotate(-45deg);
    margin-top: -50px;
    margin-left: -120px;

}

#trianguloDos {
    width: 900px;
    height: 550px;
    background: rgb(111, 178, 237);
    background: linear-gradient(90deg, rgba(111, 178, 237, 1) 30%, rgba(0, 60, 255, 1) 76%);
    transform: rotate(45deg);
    position: absolute;
    top: -160px;
    right: -130px;
    z-index: 2; /* Asigna un valor de z-index más alto */
}




