* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app{
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 99vw;
    height: 8vh;
    background: linear-gradient(180deg, #6FB2ED 24.96%, rgba(255, 144, 77, 0.47) 80%); 
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
#menu{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    width: 750px;
    height: 30px;
    margin: 0;
    padding: 0;
}
#logoHeader{
    width: 90px;
    height: 80px;
}
#listaMenu{
    list-style: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 20px;
    margin: 10px;
}
.menuItem{
    width: 190px;
    height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.menuItemQuienes{
    width: 270px;
    height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.itemSeleccionable{
    text-decoration: none;
    color: black;
}
.menuItem:hover{
    width: 190px;
    height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #36688D;
    
}
.itemSeleccionable:hover{
    text-decoration: none;
    color: #36688D;
}
.menuItemQuienes:hover{
    width: 270px;
    height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #36688D;
}
#busqueda{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
}
#areaBusqueda{
    border-style: none;
    border-color: white;
    width: 100px;
    border-radius: 5px;
}
#areaBusqueda:focus{
    outline: none;
}
#headerResponsive{
    display: none;
}
.btnNav{
    margin: 5px;
    width: 100px;
    border-radius: 30px;
    height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: rgba(240, 197, 136, 0.74);
}
.btnNav:hover{
    margin: 5px;
    width: 100px;
    border-radius: 30px;
    height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color:#6FB2ED;
    border-color: #36688D;
}
.btnNavCrear{
    margin: 5px;
    width: 120px;
    border-radius: 30px;
    height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: rgba(240, 197, 136, 0.74);
}
.btnNavCrear:hover{
    margin: 5px;
    width: 120px;
    border-radius: 30px;
    height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color:#6FB2ED;
    border-color: #36688D;
}
#botones{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#botonesMovil{
    display: none;
}
#navegadorResponsive{
    display: none;
}
.modalContent{
    width: 450px;
}
.formularioLogIn{
    width: 300px;
}
.modalCuerpo{
    width: 400px;
    background-color: white;
}
#imagenModal{
    width:120px;
    height: 100px;
}
#tituloModalLogIn{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.titulosFormulario{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.titulosCampos{
    width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.camposFormulario{
    width: 300px;
}
#recuperarContra{
    margin-top: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
#recuperarContrasena{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FF904D;
}
#recuperarContrasena:hover{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #9e3d00;
}
#botonesModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-top: 15px;
}
.btnIngresar{
    background-color: #F0C588;
    border-color: #F0C588;
    width: 150px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
}
.btnCerrar{
    background-color: #e51b1b;
    border-color: #e51b1b;
    width: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
    color: white;
}
.btnIngresar:hover{
    background-color: rgba(255, 144, 77, 0.47);
    border-color: rgba(255, 144, 77, 0.47);
    width: 150px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
}
.btnCerrar:hover{
    background-color: #ff5e5e;
    border-color: #ff5e5e;
    width: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
    color: white;
}
#articuloPrincipal {
    width:99vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top:8vh;
    background-image: url(../images/plantillaTriangulos.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
   
}
#iconos{
    display: flex;
    flex-direction: column;
    flex: 0.1;
    justify-content: flex-start;
    align-items: center;
}
.iconosCustom{
    margin: 15px;
}
#articuloUno{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    
}
#parrafoArticuloUno{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
#LogoOneToImprove{
    width: 600px;
    margin-top: 15px;
}
#tituloArticuloUno{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    color: black;
}

#organizadorbtnVerMas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100px;
}
#btnPrueba{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #020202;
    background: #F0C588;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnPrueba:hover{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #020202;
    background: #ffad39;
    display: flex;
    justify-content: center;
    align-items: center;
}
#linkPrueba{
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
}
#verMas{
    text-decoration: none;
    color: gray;
    margin-right: 50px;
}

#articuloSecundario{
    width: 99vw;
    min-height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tituloArticuloDos{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #060640;
}
#tarjetas{
    width: 70vw;
    height: 45vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.tarjeta{
    width: 300px;
    min-height: 400px;
    background-color: white;
    border-style: solid;
    border-color: rgb(237, 237, 237);
    border-width: 1px;
    box-shadow: 3px 6px 5px rgb(166, 166, 166);
    border-radius: 5px;
}
.containerImagen{
    width: 290px;
    height: 100px;
    background-color:white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenCards{
    width: 40px;
}
.contenedorTexto{
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.tituloCards{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #060640;
}
.parrafoCards{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: justify;
}
#articuloTercero{
    width: 99vw;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tituloArticuloTres{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-align: center;
    color: #060640;
}
#contenedorTextoArticuloTres{
    width: 35vw;
    height: 30vh;
    margin-top: 20px;
}
#textoArticuloTres{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center
}
#imagenMapa{
    width: 1200px;
}
#imagenMapa:hover{
    filter: opacity(.5);
}
#articuloCuarto{
    width: 99vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#tarjetasLicencias{
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tarjetaLicencia{
    width: 350px;
    height: 450px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: rgb(232, 232, 232);
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 25px;
}
.tarjetaLicencia:hover{
    box-shadow: 10px 5px 3px rgb(245, 245, 245);
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.fotoTarjetaLicencia{
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;

}
.subtituloTarjtasLicencias{
    font-size: 27px;
    margin-top: 5px;
}
.footerLicencias{
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.linkTarjetas{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.precioLicencias{
    color: #FF904D;
    font-size: 18px;
}
#formularioContacto{
    width: 99vw;
    height: 60vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#formulario{
    width: 1150px;
    height: 500px;
    
    display: flex;
    flex-direction: row;
    
}
#formularioContacto{
    width: 575px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding-top: 75px;
    padding-bottom: 75px;
}
#tituloFormulario{
    color: #060640;
    font-size: 40px;
}
.camposFormularios{
    width: 400px;
    height: 35px;
    text-align: center;
    border-radius: 3px;
    background-color: #f3f3f3;
}
#mensaje{
    resize: none;
    width: 400px;
    height: 130px;
    border-radius: 3px;
    background-color: #f3f3f3;
}
#btnEnviarFormulario{
    width: 400px;
    height: 35px;
    border-radius: 3px;
    color: #060640;
    font-size: 20px;
    font-weight: bold;
    background-color: #F0C588;
}
#btnEnviarFormulario:hover{
    width: 400px;
    height: 35px;
    border-radius: 3px;
    color: #060640;
    font-size: 20px;
    font-weight: bold;
    background: #ffad39;
}
#imagenFormulario{
    width: 500px;
    margin: 0;
}
footer{
    width: 99vw;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#falsoFooter{
    width: 99vw;
    height: 38vh;
    background: rgb(111,178,237);
    background: linear-gradient(90deg, rgba(111,178,237,0) -100%, rgba(0,60,255,1) 76%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#primeraMitad{
    width: 50%;
    height: 38vh;
    display: flex;
    flex-direction: row;
}
#segundaMitad{
    width: 50%;
    height: 38vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#contenedorOtito{
    width: 8vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 30px;
}
#otitoLateral{
    margin-left: 30px;
}
#conenedorLogoTextoIconos{
    width: 30vw;
    height: 38vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#textoLogo{
    font-size: 24px;
    color: white;
    font-style: italic;
}
#iconosFalsoFooter{
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.iconoFalsoFooter{
    margin: 5px;
}
#copyright{
    background-color: #000000;
    color: white;
    width: 99vw;
    text-align: center;
}
#menuFalsoFooter{
    height: 300px;
    width: 200px;
}
#informacionFalsoFooter{
    height: 300px;
    width: 200px;
    
    margin-right: 200px;
}
ul {
    list-style: none;
}
.TitulosFalsFooter{
    color: white;
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.hipervinculosMenuFooter{
    text-decoration: none;
    color: white;
    margin-top: 7px;


}
@media screen and (min-width: 320px) and (max-width: 799px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #app{
        width: 99vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header {
        display: none
    }
    #menu{
        display: none;
    }
    #headerResponsive{
        width: 99vw !important;
        
        display: contents;
    }
    #cajaHamburgesa{
        width: 99vw;
    }
    #botonesMovil{
        display: flex;
        display: row;
        justify-content: space-around;
        background: rgb(250,250,250);
        background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(13,110,253,1) 100%);
        width: 99vw;
    }
    #articuloPrincipal {
        display: flex;
        flex-direction: column;
        background-image: none;
        margin: 0;
        width: 99vw;   
        
        height: 450px;
    }
    #iconos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 99vw;
        margin-bottom: 0;
    }
    #articuloUno{
        width: 99vw;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #LogoOneToImprove{
        width: 80vw;
        margin-top: 0;
    }
    #tituloArticuloUno{
        font-size: 25px;
    }
    #parrafoArticuloUno{
        font-size: 20px;
    }
    #organizadorbtnVerMas{
        width: 99vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #btnPrueba{
        width: 250px;
    }
    #btnPrueba:hover{
        width: 250px;
    }
    #linkPrueba{
        font-size: 18px;
    }
    #verMas{
        display: none;
    }
    #articuloSecundario{
        width: 99vw;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #tituloArticuloDos{
        font-size: 25px;
        text-align: center;
    }
    #tarjetas{
        width: 80vw;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .tarjeta{
        width: 200px;
        min-height: 250px;
        border-style: solid;
        border-color: rgb(237, 237, 237);
        border-width: 1px;
        box-shadow: 3px 6px 5px rgb(166, 166, 166);
        border-radius: 5px;
    }
    .containerImagen{
        width: 190px;
        height: 50px;
        background-color:white;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagenCards{
        width: 40px;
    }
    .contenedorTexto{
        width: 180px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .tituloCards{
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #060640;
    }
    .parrafoCards{
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        text-align: justify;
    }
    #articuloTercero{
        width: 99vw;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    #contenedorTextoArticuloTres{
        width: 99vw;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #tituloArticuloTres{
        font-size: 25px;
    }
    #textoArticuloTres{
        font-size: 18px;
    }
    #imagenMapa{
        width: 98vw;
    }
    #articuloCuarto{
        width: 99vw;
        height: 1410px;
        display: flex;
        flex-direction: column;
    }
    #tituloArticuloTres{
        font-size: 25px;
    }
    #tarjetasLicencias{
        width: 99vw;
        height: 1400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #formularioContacto{
        width: 99vw;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }
    #formulario{
        width: 99vw;
        height: 580px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #imagenFormulario{
        display: none;
    }
footer{
        width: 99vw;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #falsoFooter{
        width: 99vw;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #primeraMitad{
        width: 99vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #contenedorOtito{
        display: none;
    }
    #conenedorLogoTextoIconos{
        width: 99vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #imagenFalsoFooter{
        width: 80vw;
    }
    #textoLogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #segundaMitad{
        display: none;
    }
    
}

@media screen and (min-width: 800px) and (max-width: 1365px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        max-width: 99vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #headerResponsive{    
        display: none;
    }
    #botonesMovil{
        display: none;
    }
    #header{
        width: 99vw;
    }
    #menu{
        width: 35vw
    }
    #listaMenu{
        width: 33vw;
    }
    .itemSeleccionable{
        font-size: 10px;
    }
    #busqueda{
        width: 10vw;
    }
    #areaBusqueda{
        width: 8vw;
    }
    #botones{
        width: 35vw;
        display: flex;

    }
}


/* alvaro */
@media screen and (min-width: 1366px) and (max-width: 1919px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        max-width: 99vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #articuloPrincipal {
        width: 99vw;
        height: 70vh;
        display: flex;
        flex-direction: row;
        background-image: url(../images/plantillaTriangulos.png);
        background-size:75dvw;
        background-position:initial;
        
        
    }
    #headerResponsive{    
        display: none;
    }
    #tarjetas{
        margin-top: 30px;
        display: flex;

    }
    #articuloTercero{
        margin-top: 150px;
    }
    #articuloCuarto{
        margin-top: 90px;
    }
    #botonesMovil{
        display: none;
    }
}

@media screen and (min-width: 1920px) and (max-width: 2650px) {
    #headerResponsive{    
        display: none;
    }
    #botonesMovil{
        display: none;
    }
    
}